.card__image {
  display: block;
  width: 100%;
  height: 413px;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  max-width: 353px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  opacity: 40%;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}
