.footer {
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
}

.footer__paragraph {
  height: 16px;
  width: 104px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
}
