.page {
  margin: auto;
  background-color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
