.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  opacity: 0.7;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: 138px;
  width: 149px;
  height: 52px;
  background-color: #212121;
  color: rgba(252, 245, 229, 1);
  border-style: none;
  border-radius: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  cursor: pointer;
}
#profile__add-btn_image {
  padding-right: 8px;
}

.profile__add-btn:hover {
  background: rgba(33, 33, 33, 0.8);
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  opacity: 0.7;
  padding: 0;
  text-align: left;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
}

#profile__edit-btn_image {
  margin-right: 8px;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    width: 100%;
    max-width: 282px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    text-align: center;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__column {
    margin-bottom: 20px;
  }

  .profile__edit-btn {
    text-align: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    height: 52px;
  }
}
